/* * {
  margin: 0;
  padding: 0;
} */
body {
  background: blanchedalmond;
}
@media (min-width: 768px) {
  .container {
    border: 1px solid black;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    flex: flex;
  }
}

.a {
  border: solid 2px black;
  flex-basis: 100%;
  min-height: 150px;
  margin: 5px;
}
.b {
  border: solid 2px black;
  flex-basis: 73.4%;
  min-height: 500px;
  margin: 5px;
}
.c {
  border: solid 2px black;
  flex-basis: 25%;
  min-height: 150px;
  margin: 5px;
}