
body {
  background: blanchedalmond;
}
/* border for every item and container on the page */
* {
  border: 1px solid black;
}
/* make the container for mobile view first - in a desktop view */
.container {
  min-height: 100vh;
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
/* again for the mobile view - in desktop view make .a and .c boxes same size */
.a, .c{
  flex-grow: 1;
}
/* again for the mobile view - in desktop view make .b bigger than the others */
.b {
  flex-grow: 3;

}
/* for the desktop view, when it hits more than 600px(mobile phone) */
@media (min-width: 600px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap;
  }
  /* make .a width: 100% to take up the whole top part of width, which pushes the .b and .c items underneath it with .b having flex grow bigger than others. */
  .a {
    width: 100%;
  }
  /* puts a margin on all the items to differentiate easier */
  .a, .b, .c {
    margin: 1em;
  }
}
