body {
  background: papayawhip;
}
* {
  border: 1px solid black;
}
.container {
  min-height: 100vh;
  background-color: teal;
  display: flex;
  flex-flow: row wrap;

  
}
.a, .f {
  flex-grow: 1;
  width: 100%;
}
.c, .d, .e {
  flex-grow: 0;
  max-height: ;
}
.b {
  flex-grow: 3;
  width: 75%;
}
@media (min-width: 600px) {
  .container {
    flex-flow: row wrap;
  }
  .a {
    width: 100%;
  }
  .b {
    max-width: 75%;
   
  }
  .c, .d, .e {
    width: 25%;
  }
  .f {
    width: 25%;
  }
}
